<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button [routerLink]="['/']" class="btn btn-link">
      Main page
    </button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A odio explicabo pariatur, voluptates beatae earum
      rerum quidem? Dignissimos, itaque unde debitis aut odio molestiae molestias placeat quam optio doloribus iusto
      cumque voluptates accusantium possimus ea iure vero saepe facilis ratione nostrum, quo tempore error officiis
      illo. Esse obcaecati molestiae dignissimos.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A odio explicabo pariatur, voluptates beatae earum
      rerum quidem? Dignissimos, itaque unde debitis aut odio molestiae molestias placeat quam optio doloribus iusto
      cumque voluptates accusantium possimus ea iure vero saepe facilis ratione nostrum, quo tempore error officiis
      illo. Esse obcaecati molestiae dignissimos.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A odio explicabo pariatur, voluptates beatae earum
      rerum quidem? Dignissimos, itaque unde debitis aut odio molestiae molestias placeat quam optio doloribus iusto
      cumque voluptates accusantium possimus ea iure vero saepe facilis ratione nostrum, quo tempore error officiis
      illo. Esse obcaecati molestiae dignissimos.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A odio explicabo pariatur, voluptates beatae earum
      rerum quidem? Dignissimos, itaque unde debitis aut odio molestiae molestias placeat quam optio doloribus iusto
      cumque voluptates accusantium possimus ea iure vero saepe facilis ratione nostrum, quo tempore error officiis
      illo. Esse obcaecati molestiae dignissimos.</p>
  </div>
</div>
